{% extends "layout.html" %}

{% block head %}
<title>文档自动高亮</title>
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-md-center" style="height:80px;top: 20px;font-size:125%">文档上传</div>
        </div>
        <form method="post" enctype="multipart/form-data" action="/">
            <input type="file" name="fileupload">
            <input type="submit" value="上传">
        </form>
    </div>
</main>
{% endblock %}